body {
    margin: 0;
    transition: .2s linear;
}

.chart {
    transform-origin: bottom left;
    transform: translateY(-350px) rotate(90deg);
}

.canvases {
    display: inline-flex;
    max-width: 700px;
}

#draw-animation {
    height: 700px;
    width: 901px;
    min-width: 901px;
    transition: .2s linear;
}

.button {
    border: 0px;
    border-radius: 100px;
    transition: .2s linear;
    padding: 10px 15px;
    margin: 10px;
    display: inline-flex;
}

.theme {
    border: 0px;
    border-radius: 100px;
    width: 40px;
    height: 40px;
    position: absolute;
    transition: .2s linear;
    right: 0;
    margin: 10px;
}

.slider {
    padding: 10px 15px;
    margin: 10px;
    border-radius: 100px;
    display: inline-flex;
    align-items: center;
    transition: .2s linear;
}

.slider p {
    margin: 0;
}

.slider input[type="range"] {
    -webkit-appearance: none !important;
    appearance: none !important;
    width: 300px;
    height: 2px;
    margin: 0px 25px;
    transition: .2s linear;
}

.slider input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    appearance: none !important;
    /* transition: .2s linear; */
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
}

.interface,
.interface button,
.theme {
    font-size: 18px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
}

.right {
    min-width: 30px;
    float: right;
    text-align: right;
}