body {
    margin: 0;
    background-color: #fbfbfb;
}

#draw-animation {
    height: 700px;
    width: 901px;
    background-color: lightblue;
}

.button {
    border: 2px solid black;
    border-radius: 100px;
    transition: border-color .2s linear;
    background: #ffffff;
    padding: 10px 15px;
    margin: 10px;
    border-radius: 100px;
    display: inline-flex;
}

.button:hover {
    border: 2px solid gray;
}

.slider {
    /* height: 30px; */
    padding: 10px 15px;
    margin: 10px;
    background: #ffffff;
    border-radius: 100px;
    border: 2px solid black;
    display: inline-flex;
    align-items: center;
}

.slider p {
    margin: 0;
}

.slider input[type="range"] {
    -webkit-appearance: none !important;
    width: 300px;
    height: 2px;
    margin: 0px 25px;
    background: black;
}

.slider input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    transition: background .2s linear;
    width: 15px;
    height: 15px;
    background: white;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
}

.slider input[type="range"]::-webkit-slider-thumb:hover {
    background: gray;
}

.interface,
.interface button {
    font-size: 20px;
    font-weight: 500;
    font-family: "Open Sans";
    color: black;
}

.right {
    min-width: 30px;
    float: right;
    text-align: right;
}