:root {
    --dark-accent: #242425;
    --dark-hover: #373738;
    --dark-outline: white;
}

body {
    background-color: #111112;
}

#draw-animation {
    background-color: var(--dark-accent);
}

.button,
.theme {
    background: var(--dark-accent);
}

.button:hover,
.theme:hover {
    background: var(--dark-hover);
}

.slider {
    background: var(--dark-accent);
}

.slider input[type="range"] {
    background: var(--dark-outline);
}

.slider input[type="range"]::-webkit-slider-thumb {
    background: #111112;
    border: 2px solid var(--dark-outline);
}

.slider input[type="range"]::-webkit-slider-thumb:hover {
    background: var(--dark-hover);
}

.interface,
.interface button,
.theme,
input[type="number"],
a,
a:visited {
    color: white;
}

input[type="number"] {
    background: #1e1e1e;
    outline: 2px solid var(--dark-outline);
}